name: Build and push image

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      packages: write

    steps:
      - name: checkout repo
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
    
      - name: build image
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            ghcr.io/ulysses316/strapi-portfolio:latest
            ghcr.io/ulysses316/strapi-portfolio:${{ github.sha }}